---
_mongodb_port: "{{ mongodb_port | default('27017') }}"
_mongodb_service_name: "{{ mongodb_service_name | default('mongod') }}"
_mongodb_reconfig_poll: "{{ mongodb_reconfig_poll | default(6) }}"
_mongodb_reconfig_interval: "{{ mongodb_reconfig_interval | default(10) }}"
_mongodb_hosts_manage: "{{ mongodb_hosts_manage | default(True) }}"
_mongodb_virtualenv_packages:
  - pymongo
  - python-gnupg
  - python-debian
_mongodb_backup_enabled: "{{ mongodb_backup_enabled | default(True) }}"
_mongodb_backup_crontab: "{{ mongodb_backup_crontab | default('0 4 * * *') }}"
_mongodb_backup_wrapper: "{{ mongodb_backup_wrapper | default('/usr/local/bin/mongobackup') }}"
_mongodb_backup_bin: "{{ mongodb_backup_bin | default('/usr/local/bin/.mongobackup') }}"
_mongodb_backup_user: "{{ mongodb_backup_user | default('root') }}"
_mongodb_backup_group: "{{ mongodb_backup_group | default('root') }}"
_mongodb_backup_maxage: "{{ mongodb_backup_maxage | default('7') }}"
_mongodb_backup_log: "{{ mongodb_backup_log | default('/var/log/mongodb/backup.log') }}"
_mongodb_backup_path: "/backup/mongodb"
_mongodb_backup_basename: "mongodump"

__mongodb_mongos: "{{ mongodb_mongos | default('mongodb_mongos') }}"
__mongodb_config: "{{ mongodb_config | default('mongodb_config') }}"
__mongodb_shard1: "{{ mongodb_shard1 | default('mongodb_shard1') }}"
__mongodb_address_attrs: ["ansible_default_ipv4", "address"]
