---
- name: Query config replicaset member status
  hosts: "{{ __mongodb_config }}"
  vars_files:
    - main.yml
  tasks:
    - name: Set replicaset facts
      ansible.builtin.set_fact:
        mongodb_replicaset_members: "{{ _mongodb_members | map(_filter, '%s:' + _mongodb_port) | list }}"
        mongodb_replicaset_name: "{{ mongos_replicaset_config_name | default('config') }}"
        mongodb_sharding_role: configsvr
      vars:
        _filter: "nephelaiio.plugins.map_format"
        _mongodb_hosts: "{{ groups[__mongodb_config] }}"
        _mongodb_addrs: "{{ _mongodb_hosts | map('extract', hostvars, __mongodb_address_attrs) | list }}"
        _mongodb_members: "{{ _mongodb_hosts if _mongodb_hosts_manage else _mongodb_addrs }}"

- name: Deploy config replicaset members
  hosts: "{{ __mongodb_config }}"
  become: true
  vars_files:
    - main.yml
  tasks:
    - name: Create virtualenv
      ansible.builtin.tempfile:
        state: directory
        prefix: .virtualenv
        path: "~"
      register: _virtualenv_tmpdir
      changed_when: false

    - name: Initialize virtualenv
      ansible.builtin.pip:
        name: "{{ _mongodb_virtualenv_packages }}"
        virtualenv: "{{ _virtualenv_tmpdir.path }}/venv"
      changed_when: false

    - name: Deploy MongDB config replicaset
      vars:
        ansible_python_interpreter: "{{ _virtualenv_tmpdir.path }}/venv/bin/python"
        mongodb_votes_group: "_replicaset_votes_config"
        mongodb_non_votes_group: "_replicaset_non_votes_config"
        mongodb_voting_group: "_replicaset_voting_config"
        mongodb_priority_group: "_replicaset_priority_config"
        mongodb_non_priority_group: "_replicaset_non_priority_config"
        mongodb_compliant_group: "_replicaset_compliant_config"
        mongodb_non_compliant_group: "_replicaset_non_compliant_config"
        mongodb_non_voting_group: "_replicaset_non_voting_config"
        mongodb_alien_group: "_replicaset_alien_config"
        mongodb_non_alien_group: "_replicaset_non_alien_config"
        mongodb_member_group: "_replicaset_member_config"
        mongodb_failed_group: "_replicaset_failed_config"
      block:
        - name: Configure MongoDB repo
          ansible.builtin.include_role:
            name: nephelaiio.mongodb.repo

        - name: Deploy MongoDB config replicaset
          ansible.builtin.include_role:
            name: nephelaiio.mongodb.mongodb

      always:
        - name: Destroy virtualenv
          ansible.builtin.file:
            path: "{{ _virtualenv_tmpdir.path }}"
            state: absent
          changed_when: false

- name: Deploy Consul cluster for config replicaset members
  ansible.builtin.import_playbook: nephelaiio.consul.install
  vars:
    consul_group_name: "{{ __mongodb_config }}"
    consul_release: "{{ mongodb_consul_version | default('1.20.5') }}"
    consul_datacenter_name: midaswebdc
