---
- name: Prepare cluster nodes
  ansible.builtin.import_playbook: nephelaiio.mongodb.prepare

- name: Deploy MongoDB config cluster
  ansible.builtin.import_playbook: nephelaiio.mongodb.config
  vars:
    mongodb_config: "{{ mongodb_config_group | default('mongodb_config') }}"

- name: Deploy MongoDB shard1 cluster
  ansible.builtin.import_playbook: nephelaiio.mongodb.shard
  vars:
    mongos_replicaset_shard_name: "{{ mongodb_shard1_name | default('shard1') }}"
    mongodb_shard: "{{ mongodb_shard1_group | default('mongodb_shard1') }}"

- name: Deploy Mongos servers
  ansible.builtin.import_playbook: nephelaiio.mongodb.mongos
  vars:
    mongodb_config: "{{ mongodb_config_group | default('mongodb_config') }}"
    mongodb_shard_clusters:
      - name: "{{ mongodb_shard1_name | default('shard1') }}"
        group: "{{ mongodb_shard1_group | default('mongodb_shard1') }}"

- name: Configure MongoDB backups
  ansible.builtin.import_playbook: nephelaiio.mongodb.backup
  vars:
    mongodb_backup_hostgroup: "{{ mongodb_config_group | default('mongodb_config') }}:{{ mongodb_shard1_group | default('mongodb_shard1') }}"
