---
- name: Gather cluster facts
  hosts:
    - "{{ __mongodb_config }}"
    - "{{ __mongodb_shard1 }}"
    - "{{ __mongodb_mongos }}"
  become: true
  vars_files:
    - main.yml
  roles:
    - nephelaiio.mongodb.plugins


- name: Deploy MongoDB Mongos servers
  hosts: "{{ __mongodb_mongos }}"
  become: true
  serial: 1
  vars_files:
    - main.yml
  vars:
    _config_hosts: "{{ groups[__mongodb_config] }}"
    _config_addrs: "{{ _config_hosts | map('extract', hostvars, __mongodb_address_attrs) | list }}"
    mongos_replicaset_config_members: "{{ _config_hosts if _mongodb_hosts_manage else _config_addrs }}"
  roles:
    - nephelaiio.mongodb.plugins
    - nephelaiio.mongodb.repo
    - nephelaiio.mongodb.mongos


- name: Configure MongoDB cluster
  hosts: "{{ __mongodb_mongos }}"
  become: true
  vars_files:
    - main.yml
  roles:
    - nephelaiio.mongodb.plugins
  tasks:
    - name: Register cluster shards
      when: mongodb_shard_clusters is defined
      run_once: true
      block:
        - name: Query registered shards
          community.mongodb.mongodb_shell:
            db: "admin"
            eval: "db.runCommand({listshards: 1})"
          register: _shard_query
          changed_when: false

        - name: Debug shard cluster list
          ansible.builtin.debug:
            msg: "Cluster shards: {{ _shards | map(attribute='_id') | list | join (',') }}"
          vars:
            _shards: "{{ _shard_query.transformed_output.shards }}"

        - name: Register shards
          community.mongodb.mongodb_shell:
            db: "admin"
            eval: "sh.addShard('{{ _shard }}')"
          vars:
            _hostnames: "{{ groups[item.group] }}"
            _addresses: "{{ _hostnames | map('extract', hostvars, __mongodb_address_attrs) | list }}"
            _hosts: "{{ _hostnames if _mongodb_hosts_manage else _addresses }}"
            _members: "{{ _hosts | map('nephelaiio.plugins.map_format', '%s:' + _mongodb_port) }}"
            _shard: "{{ item.name }}/{{ _members | join(',') }}"
            _shard_ids: "{{ _shard_query.transformed_output.shards | map(attribute='_id') | list }}"
          loop_control:
            label: "{{ _shard }}"
          loop: "{{ mongodb_shard_clusters }}"
          when: item.name not in _shard_ids

        - name: Refresh registered shard clusters
          community.mongodb.mongodb_shell:
            db: "admin"
            eval: "db.runCommand({listshards: 1})"
          register: _shard_query
          changed_when: false

        - name: Debug shard cluster list
          ansible.builtin.debug:
            msg: "Cluster shards: {{ _shards | map(attribute='_id') | list | join (',') }}"
          vars:
            _shards: "{{ _shard_query.transformed_output.shards }}"
