---
- name: Query shard replicaset member status
  hosts: "{{ mongodb_shard }}"
  vars_files:
    - main.yml
  tasks:
    - name: Set replicaset facts
      ansible.builtin.set_fact:
        mongodb_replicaset_members: "{{ _mongodb_members | map(_filter, '%s:' + _mongodb_port) | list }}"
        mongodb_replicaset_name: "{{ mongos_replicaset_shard_name }}"
        mongodb_sharding_role: shardsvr
      vars:
        _filter: "nephelaiio.plugins.map_format"
        _mongodb_hosts: "{{ groups[mongodb_shard] }}"
        _mongodb_addrs: "{{ _mongodb_hosts | map('extract', hostvars, __mongodb_address_attrs) | list }}"
        _mongodb_members: "{{ _mongodb_hosts if _mongodb_hosts_manage else _mongodb_addrs }}"

- name: Deploy shard replicaset members
  hosts: "{{ mongodb_shard }}"
  become: true
  vars_files:
    - main.yml
  tasks:
    - name: Create virtualenv
      ansible.builtin.tempfile:
        state: directory
        prefix: .virtualenv
        path: "~"
      register: _virtualenv_tmpdir
      changed_when: false

    - name: Initialize virtualenv
      ansible.builtin.pip:
        name: "{{ _mongodb_virtualenv_packages }}"
        virtualenv: "{{ _virtualenv_tmpdir.path }}/venv"
      changed_when: false

    - name: Deploy MongDB config replicaset
      vars:
        ansible_python_interpreter: "{{ _virtualenv_tmpdir.path }}/venv/bin/python"
        mongodb_shard_name_default: shard1
        mongodb_votes_group: "_replicaset_votes_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_non_votes_group: "_replicaset_non_votes_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_voting_group: "_replicaset_voting_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_priority_group: "_replicaset_priority_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_non_priority_group: "_replicaset_non_priority_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_compliant_group: "_replicaset_compliant_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_non_compliant_group: "_replicaset_non_compliant_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_non_voting_group: "_replicaset_non_voting_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_alien_group: "_replicaset_alien_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_non_alien_group: "_replicaset_non_alien_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_member_group: "_replicaset_member_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
        mongodb_failed_group: "_replicaset_failed_{{ mongodb_shard_name | default(mongodb_shard_name_default) }}"
      block:
        - name: Configure MongoDB repo
          ansible.builtin.include_role:
            name: nephelaiio.mongodb.repo

        - name: Deploy MongoDB shard replicaset
          ansible.builtin.include_role:
            name: nephelaiio.mongodb.mongodb

      always:
        - name: Destroy virtualenv
          ansible.builtin.file:
            path: "{{ _virtualenv_tmpdir.path }}"
            state: absent
          changed_when: false
