---
- name: Start mongod services
  hosts:
    - "{{ __mongodb_config }}"
    - "{{ __mongodb_shard1 }}"
  become: true
  vars_files:
    - main.yml
  tasks:
    - name: Include Mongos service tasks
      ansible.builtin.include_role:
        name: nephelaiio.mongodb.mongodb
        tasks_from: service

- name: Start Mongos services
  hosts: "{{ __mongodb_mongos }}"
  become: true
  vars_files:
    - main.yml
  tasks:
    - name: Include Mongos service tasks
      ansible.builtin.include_role:
        name: nephelaiio.mongodb.mongos
        tasks_from: service
