---
name: libvirt
on:
  pull_request:
    branches:
      - master
jobs:
  libvirt:
    name: libvirt
    runs-on: libvirt
    strategy:
      matrix:
        scenario:
          - ipaddr
          - hosts
        image:
          - https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
    steps:
      - name: Run molecule test
        uses: pokerops/ansible-utils@master
        with:
          run: "make install requirements test"
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_SCENARIO: ${{ matrix.scenario }}
          MOLECULE_KVM_IMAGE: ${{ matrix.image }}
