---
name: libvirt
on:
  pull_request:
    branches:
      - master
    paths:
      - "playbooks/prepare.yml"
      - "molecule/common/create.yml"
      - "molecule/common/templates/*.yml"
      - "molecule/common/vars.yml"
      - "molecule/hosts/*.yml"
      - "molecule/ipaddr/*.yml"
      - ".github/workflows/libvirt.yml"
  libvirt:
    name: libvirt
    runs-on: libvirt
    needs: version
    strategy:
      matrix:
        scenario:
          - ipaddr
          - hosts
        image:
          - https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img
    steps:
      - name: Run molecule test
        uses: pokerops/ansible-utils@master
        with:
          run: "make test"
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_SCENARIO: ${{ matrix.scenario }}
          MOLECULE_KVM_IMAGE: ${{ matrix.image }}
