---
name: molecule
on:
  pull_request:
    branches:
      - master
jobs:
  molecule:
    name: molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - install
          - offline
          - online
          - stop
          - start
          - restart
          - update
          - upgrade
        image:
          - https://cloud-images.ubuntu.com/jammy/current/jammy-server-cloudimg-amd64.img
        include:
          - scenario: install
            image: https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img
          - scenario: install
            image: https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-generic-amd64.qcow2
          - scenario: install
            image: https://dl.rockylinux.org/pub/rocky/9/images/x86_64/Rocky-9-GenericCloud.latest.x86_64.qcow2
    steps:
      - name: Run molecule test
        uses: pokerops/ansible-utils@master
        with:
          run: "make install requirements test"
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_SCENARIO: ${{ matrix.scenario }}
          MOLECULE_KVM_IMAGE: ${{ matrix.image }}
